<link href="loginScreen.css" type="text/css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans" rel="stylesheet">

<div class="loginScreen">
    <center>
        <div class="loginScreen-heading"><h1>Ludus Tempus</h1></div>
        <div class="loginScreen-text">
            <p>Studienr: <input type="text" id="studieNrInput" ng-model="studieNr"></p>
            <p>Password: <input type="password" id="passwordInput" ng-model="password"></p>
            <button type="button" id="passwordEnter"> Login</button>
        </div>center
    </center>
</div>

<script src=loginScreen.js></script>
<script src="../jquery-3.2.1.js"></script>

<script>
    checkKey();
</script>
